.mustafa-bot-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color: #1c5c4c !important;
    color: white;
    margin-right: 15px;
}
.react-chatbot-kit-chat-container {
    position: relative;
    width: 50%;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #1c5c4c !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: auto;
    text-align: left;
    right: 370px;
}
  .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #1c5c4c !important;
    position: absolute;
    left: -7px;
    top: 13px;
}
.react-chatbot-kit-chat-btn-send {
    background-color: #1c5c4c !important;
    width: 100px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
}
.react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #1c5c4c !important;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: whitesmoke;
    padding: 12.5px;
    font-weight: bold;
}
.react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    height: 427.5px;
  
}